.airtable-items{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content:center;
  margin:20px;
}

.airtable-image{
  width: auto; 
}

.airtable-item > img{
  width:100%;
}

.airtable-item{
  display: flex;
  width: 20%;
  border: 1px solid black; 
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:0;
  padding:40px;
}

.Modernism-filter-show{
  background-color: white;
  display: block;
}

.Modernism-filter-hide{
  display: none; 
}

body{
  margin:0;
  padding:0;
}

.container{
  text-align:center;
  
}

.btn-filter{
  padding:4px 15px;
  font-family:bebas;
  background:none;
  cursor:pointer;
  
}

.btn-filter:hover{
  color:silver;
}

@font-face{
  font-family:"bebas";
  font-style:normal;
  font-weight:400;
  src:url("https://cdn.glitch.global/ba2f3613-6939-4e9f-960a-a443e0de51a2/Bebas-Regular.otf?v=1680747441636")
}

.title{
  font-family:"bebas";
  justify-content:center;
  display:flex;
}

.hidden{
  display: none
}

DATE{
  font-family:"bebas";
  font-size:20px;
}

time{
  font-family:"bebas";
  justify-content:center;
  display:flex;
  font-size:20px;
}

age{
  font-family:"bebas";
  font-size:20px;
  justify-content:center;
  display:flex;
  
}

perpsex{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}

perprace{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}

perprace{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}
VICAGE{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}

VICRACE{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}
VICSEX{
  font-family:"bebas";
  font-size:20px;
  display:flex;
  justify-content:center;
}