.airtable-image{
  width: 45%; 
}

.airtable-item{
  border: 1px solid black; 
}

.Modernism-filter-show{
  background-color: white;
  display: block;
}

.Modernism-filter-hide{
  display: none; 
}

body{
  margin:0;
  padding:0;
}

.container{
  text-align:center;
  
}

.btn-filter{
  padding:4px 15px;
  font-family:bebas;
  background:none;
  cursor:pointer;
  
}

.btn-filter:hover{
  color:red;
}

@font-face{
  font-family:"positions";
  font-style:normal;
  font-weight:400;
  src:url("https://cdn.glitch.global/891a4201-9aa9-4505-b708-945fc6550182/Positions.otf?v=1680273567782")
}

.title{
  font-family:"positions";
}

.hidden{
  display: none
}


h3{
  font-family:bebas;
}
img{
  width:30vw;
  align-items:center;
}